@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

header {
  width: 100%;
  position: absolute;
  z-index: 999;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  list-style: none;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  list-style: none;
  gap: 1.5rem;
}

header ul li {
  font-size: 1.3rem;
  color: #242424;
  cursor: pointer;
}

header ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.s1 {
  background-image: url("../images/bg1.png");
  background-size: cover;
  background-position: bottom;
}

.s1 h1 {
  font-size: 64px;
  text-shadow: 2px 2px 0px #000000;
  color: #ff9d00;
  position: absolute;
  top: 30%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.menu-icon {
  display: none;
}

.s2 {
  background: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(#fff),
    to(#74b0ff)
  );
  background: -o-linear-gradient(right bottom, #fff, #74b0ff);
  background: linear-gradient(to left top, #fff, #74b0ff);
}

.s2 h1 {
  font-size: 45px;
  color: #494949;
  text-shadow: 0.1px 1px 0px #272727;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.chair {
  height: 60%;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.description {
  margin-top: 10%;
  width: 50%;
  margin-left: 5%;
  font-size: 1.5rem;
}

.s3 {
  background-image: url("../images/bg2.png");
  background-position: center;
  background-size: cover;
}

.s3 h1 {
  font-size: 50px;
  text-shadow: 2px 2px 0px #000000;
  color: #ff9d00;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 700px) {
  header {
    padding: 1rem 1rem;
  }

  .s1 h1 {
    font-size: 35px;
    top: 40%;
  }

  .s2 {
    background: -webkit-gradient(
      linear,
      right bottom,
      left top,
      from(#fff),
      to(#74b0ff)
    );
    background: -o-linear-gradient(right bottom, #fff, #74b0ff);
    background: linear-gradient(to left top, #fff, #74b0ff);
  }

  .s2 h1 {
    font-size: 25px;
    left: 40%;
  }

  .chair {
    height: 25%;
    top: 80%;
    left: 45%;
  }

  .description {
    width: 55%;
    font-size: 0.9rem;
  }

  .s3 h1 {
    white-space: nowrap;
    font-size: 30px;
    top: 25%;
  }
  .menu-icon {
    display: block;
  }

  header ul li {
    display: none;
  }
}
